* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-family: 'Roboto';
    font-weight: 700;
    color: #000;
}


img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #fff;
}

p {
    font-weight: 400;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

header {
    background-image: url('../assets/img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 10px 0 100px 0;
    color: #FFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    width: 120px;
    background: none;
}

.header__title {
    margin-top: 200px;
}


.best-car {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 50px;
}

.best-car h2 {
    color: #4d4d4d;
}



.best-car h3 {
    margin: 20px 0;
}

.best-car__btn {
    display: inline-block;
    background: #000;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
}

.best-car__left {
    background: #000;
    padding: 50px 0;
}

.best-car__left img {
    display: block;
    transform: translate(50px);
}


.rental {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    margin-top: 50px;
}

.rental__box {
    text-align: center;
}

.rental__box svg {
    width: 3rem;
    height: 3rem;
}

.rental h3 {
    margin-bottom: 10px;
}


.find {
    background: #000;
    padding-top: 100px;
    margin-top: 50px;
    color: #FFF;
}

.find__main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 50px;
}

.find__img1 {
    margin-left: 50px;
    background: #db545a;
}

.find__img1 img {
    transform: translate(-50px, -50px);
}

.find__img2 {
    margin-top: 100px;
}

.find__btn {
    background: #db545a;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.find h3 {
    margin: 40px 0 20px 0;
}

.find__right h2 {
    color: #db545a;
    margin-bottom: 20px;
}

.find__bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    text-align: right;
}


.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
}

.history h2 {
    color: #db545a;
}

.history p {
    margin: 20px 0;
}

.cars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url('../assets/img/uni-v1.webp');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 50px;
}

.cars img {
    height: 100%;
}

.cars__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-left: 1px solid #0000007c;
}

.cars__set {
    background: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cars__client {
    background: #db545a;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.cars__btn {
    background: #db545a;
    display: inline-block;
    color: #FFF;
    padding: 10px 20px;
    margin-top: 20px;
}


.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.contacts__left {
    max-width: 90%;
}

.contacts__left p {
    color: #808080;
    font-weight: 700;
}

.contacts__left a {
    color: #000;
}

.contacts__left svg {
    width: 2rem;
    height: 2rem;
}

.contacts__media {
    margin: 80px 0 20px 0;
}

.contacts__input {
    border: none;
    color: #111111;
    background: #f2f2f2;
    outline: none;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px 10px;
}

.contacts__btn {
    background: #db545a;
    padding: 10px;
    border: none;
    color: #FFF;
    margin-top: 20px;
}

.contacts__list {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}


.footer {
    margin-top: 50px;
    background: #000;
    padding: 30px 0;
    text-align: center;
    color: #808080;
    font-size: 14px;
}